  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Angular Bulma Blog</strong>
          <br />
          por <a href="#">Senai Angular</a> <a class="icon" href="https://github.com/">
          <i class="fa fa-github"></i>
          </a>
        </p>
        <p>
          <strong>Curtiu o projeto?</strong><br /><a href="#">Blog diversificado com angular</a> | Personalize e diversifique!
        </p>
      </div>
    </div>
  </footer>
